body {
  background: $brown;
  color: $black;
  font-family: 'Merriweather', serif;
}

img {
  width: 100%;
  height: auto;
}

input, button {
  margin: 0;
}

button {
  border: 3px solid $black;
  color: $black;
}

button:hover {
  border: 3px solid lighten($black, 15%);
}
