header {
  padding: 2em 0;
  text-align: center;
}

.shop__container {
  border-top: 4px solid black;
}

.frontpage {
  &__shop {
    padding: 2em 0;
    min-height: 200px;
    &-address {
      font-size: 0.5em;
    }
    &-description{
     padding: 2em 0;
     font-size: 1.25em;
     line-height: 1.25
    }
    &-link {
      color: $black;
      font-weight: 600;
      font-size: 1.5em;
      &:hover {
        color: lighten($black, 35%);
      }
    }
  }

  &__logo {
    padding: 1em 0;
    min-height: 200px;
    display: flex;
    align-items: center;

    img{
      width: 100%;
      height: auto;
    }
  }

  &__service-item {
    display: inline-block;
    background-color: darken($brown, 65%);
    color: lighten($brown, 15%);
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 0.75em;
  }
}
.shop-link{
  color: $black;
  text-decoration: none;
}

.shop-link:hover {
  color: lighten($black,30%);
}

button.logout-btn {
  margin-left: 2em;
}
