.nav__top {
  display: block;
  padding: 0.75em 0;
  // background-color: rgba(27,229,246, 0.6);
  border-bottom: 3px solid $black;

  &-logo{
    float: left;
    clear: both;
    display: inline-block;
    width: 50px;
    .logo{
      display: inline-block;
      max-height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-name{
    display: inline-block;
  }

  &-right {
    display: inline-block;
    float: right;
  }

  .user-login {
    display: inline;
  }

  &-register {
    color: $black;
    font-weight: 800;
    text-decoration: none;
    font-size: 1.25em;
    &:hover {
      color: lighten($black, 15%);
      border-bottom: 2px solid lighten($black, 15%);
    }
  }
  .user-name{
    display: inline;
    a {
      font-weight: 700;
      color: $black;
      &:hover{
        color: lighten($black, 35%);
      }
    }
  }
}

.user-login {
  input {
    background: none;
    border: 2px solid;
    &:focus{
      border: 2px solid lighten($black, 35%);

    }

  }
}

.user-logout {
  display: inline;
  max-width: 10em;
}
