<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Caffeinate | Find Great Coffee Nearby</title>
  <!-- <link rel='stylesheet' href='/stylesheets/skeleton.css'> -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css'>

  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
</head>
<body>
  <nav class="nav__top">
    <div class="container">
      <div class="row">
        <a class="nav__top-logo" href="/">CAFFEINATE</a>
        <% if logged_in? %>
        <div class="nav__top-right">
          <p class="user-name">Logged in as
            <a href="/dashboard"><%= current_user.firstname.capitalize %></a>
          </p>
          <form class="user-logout" action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <button name="button">Logout</button>
          </form>
        </div>
        <% else %>
          <form class="user-login" action="/session" method="post">
            <input type="text" name="email" value="">
            <input type="password" name="password" value="">
            <input type="submit" name="login" value="Log In">
          </form>
          <a href="/registration/create">Register</a>

      <% end %>
      </div>
    </div>
  </nav>
  <section class="container">


  <%= yield %>
  </section>

  <script src="/javascript/scripts.js" charset="utf-8"></script>
</body>
</html>
