


<div class="row">
  <form class="dashboard__add-cafe" action="/dashboard/add" method="post">
    <div class="one-half column">


    <input type="text" name="name" value="" placeholder="Cafe Name">
    <input type="text" name="address" value="" placeholder="Address">
    <input type="text" name="city" value="" placeholder="City">
    <!-- <input type="text" name="state" value="" placeholder="State"> -->
    <select class="" name="state">
      <option value="VIC">Victoria</option>
      <option value="QLD">Queensland</option>
      <option value="ACT">Australian Capital Territory</option>
      <option value="NSW">New South Wales</option>
      <option value="SA">South Australia</option>
      <option value="WA">Wester Australia</option>
      <option value="TAS">Tasmania</option>
      <option value="NT">Northern Territory</option>
    </select>
    <input type="text" name="postcode" value="" placeholder="Postcode">
    <input type="text" name="logo_url" value="" placeholder="Link to Logo">
    </div>
    <div class="one-half column">


    <!-- Display list of services -->
    <fieldset class="shop_services">
      <h3>List of amenities</h3>
      <% @services.each do |service| %>
        <label><%= service.name %></label>
        <input type="checkbox" name="services[<%= service.name %>]" value="<%= service.id %>">
      <% end %>
    </fieldset>
    </div>
    <input type="submit" name="" value="add new cafe">
  </form>
</div>
