<header class="row">
  <section class="one-half column">
    <label>This is the Filter section</label>
    <form class="filter-section" action="#" method="post">
      <input class="filter-input" type="text" name="" value="">
      <input class="filter-input" type="text" name="" value="">
      <input class="filter-input" type="text" name="" value="">
      <input type="submit" name="" value="">
    </form>
  </section>
  <section class="one-half column map-bg">
  </section>
</header>
