<form class="form__signup" action="/registration" method="post">
  <label for="firstname">First Name<input type="text" name="firstname" value=""></label>

  <label for="lastname">Last Name<input type="text" name="lastname" value=""></label>

  <label for="email">Email:<input type="email" name="email" value=""></label>

  <label for="phone">Phone Number<input type="text" name="phone" value=""></label>

  <label for="password">Choose password<input type="password" name="password" value=""></label>

  <input type="submit" name="" value="Submit">
</form>
